html, body, div, p, a, li, h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
}

p, a, li, h1, h2, h3, h4, h5, h6
{
  font-family: "Comfortaa";
  color: rgba(255, 255, 255, 1);
  display: inline-block;
}

p
{
  font-size: 1.5em;
}

h1
{
  font-size: 5em;
  font-weight: 300;
}

div
{
  width: inherit;
}

iframe
{
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: hidden;
}

.page
{
  background-image: url("../image/evolution.jpg");
  background-position: center;
  background-size: cover;
}

a
{
  width: inherit;
  height: inherit;
}

a:active, a:visited, a:focus, a:hover
{
  text-decoration: none;
  color: white;
}

.hidden
{
  display: none;
}

.block
{
  background-color: rgba(0, 0, 0, 0.25);
}

.block-empty
{
  background: none;
}

.block-button
{
  background-color: rgba(0, 0, 0, 0.5);
}

.block-none
{
  background-color: rgba(0, 0, 0, 0.25);
}

.div-hover
{
  background-color: rgba(102, 102, 102, 0.5);
}

.div-active
{
  background-color: rgba(255, 255, 255, 0.55);
}

div.modal-dialog
{
  margin: 0;
  padding: 0;
}

div.modal-content
{
  background-color: #666666;
}

div.modal-body, div.modal-content
{
  border-radius: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
}

ul.nav-tabs
{
  border: 0;
}

ul.nav.nav-tabs>li>a
{
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(102, 102, 102, 1);
  color: white;
}

ul.nav.nav-tabs>li.active>a
{
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

ul.nav.nav-tabs>li.close
{
  margin: 0;
  padding: 0;
  opacity: 1;
  font-size: inherit;
  font-weight: inherit;
  text-shadow: none;
}

ul.nav.nav-tabs>li>a:hover, ul.nav.nav-tabs>li.active>a:hover
{
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(60, 60, 60, 0.75);
  color: white;
}

ul.nav.nav-tabs>li>a>p
{
  color: white;
}

ul.nav.nav-tabs>li.active>a>p
{
  color: black;
}

ul.nav.nav-tabs>li>a:hover>p, ul.nav.nav-tabs>li.active>a:hover>p
{
  color: white;
}

.mouse-pointer
{
  cursor: pointer !important;
}

#html-doc-image
{
  width: 100%;
  margin: 0;
  padding: 0;
}

#html-doc-text
{
  color: black;
  font-size: 1.5em;
}

#html-doc-text a
{
  color: blue;
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1
  {
    font-size: 4em;
  }
}

@media (max-width: 470px) {
  h1
  {
    font-size: 2em;
  }
  p
  {
    font-size: 1em;
  }
  #html-doc-text
  {
    font-size: 1em;
  }
}

@media (min-width:1441px){
  h1
  {
    font-size: 8em;
  }
  p
  {
    font-size: 3em;
  }
}
