.Footer {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
}

.Footer p {
  flex-grow: 1;
}

.Footer a {
  text-align: right;
  transition: background-color ease 0.5s;
}

.Footer a:hover {
  background-color: darkred;
}
