.Header {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: black;
  z-index: 1;
}

.Header.fixed {
  position: fixed;
}

.Header .title {
  flex-grow: 1;
  text-align: center;
}

.Header h1 {
  margin: 0;
  margin-top: 30vh;
  font-size: 5rem;
  color: #ca0909;
  /* transition: font-size cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.5s; */
  transition: font-size ease-in-out 0.3s;
}

.Header.fixed h1 {
  margin-top: 0;
}

.Header h1.small {
  font-size: 5vh;
}

.Header .links {
  transition: opacity ease-in-out 0.3s;
  padding: 0 5vw;
}

.Header p {
  display: inline-block;
}
