.ProjectItem {
  width: 10vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition: width ease-in-out 1s;
}

.ProjectItem a {
  position: relative;
  transform-origin: left top;
  transform: rotate(90deg);
  left: 6vw;
  justify-self: center;
  white-space: nowrap;
  transition: left ease-in-out 1s, transform ease-in-out 1s;
}

.ProjectItem.expanded a {
  /* left: 0;
  transform: rotate(0deg); */
}

.ProjectItem.expanded {
  width: 50vw;
}

.ProjectItem h1 {
  margin: 0;
}

.ProjectItem .description {
  display: none;
}
