.ProjectItem {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition: width cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.75s;
  z-index: 1;
}

.ProjectItem > h1 {
  cursor: pointer;
  position: relative;
  transform-origin: left top;
  transform: rotate(90deg);
  left: 2.5rem;
  margin: 0;
  justify-self: center;
  white-space: nowrap;
  transition: left ease-in-out 1s, transform ease-in-out 1s;
}

/* .ProjectItem.expanded h1 {
  left: 0;
  transform: rotate(0deg);
} */

.ProjectItem.expanded {
  width: 500px;
}

.ProjectItem .description {
  z-index: 0;
  width: 375px;
  margin-left: 100px;
  margin-top: -25px;
  margin-right: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.ProjectItem.active .description {
  display: block;
  opacity: 0;
  transition: opacity ease 1s;
}

.ProjectItem.active.expanded .description {
  opacity: 1;
}

@media (max-width: 540px) {
  .ProjectItem > h1 {
    font-size: 1.5rem;
    left: 2rem;
  }
}

@media (max-width: 425px) {
  .ProjectItem .description {
    width: 320px;
    font-size: 0.9rem;
  }
}
