.Project {
  width: 100%;
  background: black;
  padding: 10px 20px;
  box-sizing: border-box;
}

.Project a {
  color: white;
  text-decoration: grey dotted underline;
  transition: background-color ease 0.25s;
}

.Project a:hover {
  background-color: darkred;
}

.Project pre {
  overflow: scroll;
}
