.Splash {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
}

.Splash p {
  padding: 5vw;
  margin: 0;
  display: inline-block;
}
.Splash a {
  text-decoration: none;
  color: white;
  transition: background-color ease 0.5s;
}

.Splash a:hover {
  background-color: darkred;
}

@media (max-width: 325px) {
  .Splash p {
    font-size: 0.9rem;
  }
}
